[Unit]
Description=Anyshell server deamon
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=anyshell server

[Install]
WantedBy=multi-user.target
